# github
!.github

# editors
*~
*.sln
*.vcxproj
*.vcxproj.filters
.vscode/
.idea/

# MacOS
.DS_Store

# python
__pycache__/
*.egg-info/
build/
dist/
*.mo

# other build artifacts
art_generated/

# database
data/